@import "variables";

.blogPreviewContainer {
  display: grid;
  grid-template-areas: "title date link" "content content content";
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  background-color: $grey;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px $greyshadow;
  margin: 15px 0px;
}

.blogTitle {
  grid-area: title;
}

.blogDatePosted {
  grid-area: date;
  align-self: center;
  justify-self: left;
  margin-left: 20px;
}

.blogContent {
  grid-area: content;
  margin-top: 0;
}

.blogLink {
  grid-area: link;
  width: 120px;
  &:hover {
    box-shadow: 0px 3px 5px $greyshadow;
  }
}

// TO-DO: update this component to include space for an image as well.
