@import 'variables';

.specialLi {
  padding: 4px 20px;
  list-style: none;
  border-bottom: 4px solid $blue;
  border-top: 4px solid $blue;
  width: 120px;
  text-align: center;
  a {
    list-style: none;
    font-weight: bold;
    color: $white;
    text-transform: capitalize;
    text-decoration: none;
    &:hover {
      color: $aqua;
      cursor: pointer;
    }
  }
}

.currentPage {
  border-bottom: 4px solid $blueshadow;
  border-top: 4px solid $blueshadow;
}