/* Colors */
$blue: #2959C2;
$lightgrey: #ECEEFF;
$grey: #e3e3e9;
$aqua: #6CFACD;
$darkaqua: #21C197;
$lightaqua: #8CF5D3;
$black: #01140f;
$white: #f2fffc;
$blueshadow: #1d3f8a;
$greyshadow: #b5b7c7;


$large: 1.704rem;

/* transition times */
$transtime: 0.2s;