/* Colors */
$blue: #47589F;
$darkblue: #0F2C5C;
$lightblue: #5472d3;
$yellow: #E8AF39;
$lightyellow: #ca705f;
$black: #121629;
$offwhite: #fafae9;
$white: #f1f1e6;
$red: #AB4834;
$accent: #00AED7;
$hoverBlue: #3b4a8a;

$background: $offwhite;
$divbackgorund: $white;
$primary: $blue;
$darkprimary: $darkblue;
$lightprimary: $lightblue;
$secondary: $yellow;
$lightsecondary: $lightyellow;



$large: 1.704rem;

/* transition times */
$transtime: 0.2s;