/* Colors */
$blue: #0d47a1;
$darkblue: #002171;
$lightblue: #5472d3;
$yellow: #ffeb3b;
$lightyellow: #ffff72;
$black: #000000;
$white: #ffffff;

$primary: $blue;
$darkprimary: $darkblue;
$lightprimary: $lightblue;
$secondary: $yellow;
$lightsecondary: $lightyellow;

$large: 1.704rem;

/* transition times */
$transtime: 0.2s;